<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
</head>
<body>
<div th:fragment="menu">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/addurlpage}">Ввод по одному адресу</a>
                <a class="dropdown-item" th:href="@{/testerone}">Данные с сервера Region70</a>
                <a class="dropdown-item" aria-disabled="true" href="#">Заготовка</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" aria-disabled="true" href="#">Заготовка</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://region70.rts-tender.ru/">Region70.rts.ru</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">DataBase</a>
        </li>
    </ul>
</div>
</body>
</html>