.MainText {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    /*color: #0c5460;*/
    /*background-color: #6c757d;*/
}

input[type=text] {
    width: 500px;
}

.footer-copyright {
    height: 40px;
    margin-top: 20px;
    outline: 1px solid white;

    /*Прижимаем футер книзу страницы окна браузера*/
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.table-border {
    table-border-color-dark: #1d2124;
}
.btn-pagination{

}

